//$custom_primary: #0095FF;
//$custom_primary: #673AB7;
$custom_primary: rgb(55, 125, 255);
$custom_secondary: rgb(103, 119, 136);
$custom_dark: #2d3e4a;
$custom_background: #F7F9FF;
$custom_warning:#f9b934;