.custom_link {
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 3px solid white;
  margin-left: 8px;
  margin-right: 8px;
  &:hover {
    transform: scale(1.05);
    color: black;
  }
}

.custom_active_link {
  border-bottom: 3px solid #7635dc;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 8px;
  margin-right: 8px;
  //border-end-end-radius: 18px;
}

.custom_menu_link {
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  color: rgb(45, 62, 74);
  &:hover {
    background: rgba(85, 105, 255, 0.1);
    color: rgb(85, 105, 255);
  }
}

//.custom_menu_active_link {
//  padding: 10px 20px 10px 20px;
//  border-bottom: 3px solid white;
//  border-radius: 10px;
//  cursor: pointer;
//  font-weight: 700;
//  color: rgb(45, 62, 74);
//  border-left:3px solid #44b700;
//  &:hover {
//    background: rgba(85, 105, 255, 0.1);
//    color: rgb(85, 105, 255);
//  }
//}



#footer_link{
  text-decoration:none;
  font-family: Inter;
  margin-bottom:8px;
  font-size:15px;
  color:#AEB4BE;
  &:hover {
    color: white;
  }
}

#social_facebook{
  color:#AEB4BE;
  margin-left: 20px;
  font-size:30px;
  cursor: pointer;
  &:hover {
    color: #006ebe;
  }
}

#social_twitter{
  color:#AEB4BE;
  margin-left: 20px;
  font-size:30px;
  cursor: pointer;
  &:hover {
    color: #0095FF;
  }
}

#social_github{
  color:#AEB4BE;
  margin-left: 20px;
  font-size:30px;
  cursor: pointer;
  &:hover {
    color: #ff6100;
  }
}

#social_youtube{
  color:#AEB4BE;
  margin-left: 20px;
  font-size:30px;
  cursor: pointer;
  &:hover {
    color: #fd0001;
  }
}